[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "UKB.COVID19"]
	path = UKB.COVID19
	url = https://github.com/bahlolab/ukb.covid19
